<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head}"></head>
<body class="sub_page">
  <div class="hero_area">
    <div class="bg-box">
      <img th:src="@{/images/nav-bg.png}" alt="">
    </div>
    <!-- header section strats -->
    <div th:replace="~{fragments/header :: header}"></div>
    <!-- end header section -->
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Danger</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Do you really want to delete this post?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a th:href="@{'/post/' + ${post.id} + '/delete'}" class="btn btn-danger" role="button" aria-pressed="true">Delete</a>
        </div>
      </div>
    </div>
  </div>
  
  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container posts-container">

      <div class="post-card">

        <h2 class="post-title">
          <span th:text="${post.title}"></span>
        </h2>

        <div class="post-meta">
          <span th:text="${post.account.firstname}"></span>
          &nbsp;• Created at :
          <span th:text="${#temporals.format(post.createdAt, 'dd MMM yyyy HH:mm')}"></span>

          <span th:if="${post.updatedAt != null}">
            &nbsp;• Updated at : 
            <span th:text="${#temporals.format(post.updatedAt, 'dd MMM yyyy HH:mm')}"></span>
          </span>
        </div>

        <div class="post-body" th:utext="${post.body}"></div>

      </div>
      <div class="post-actions text-center mt-4"
          th:if="${isOwner} or ${#authorization.expression('hasRole(''ADMIN'')')}">

        <a th:href="@{'/edit_post/' + ${post.id} + '/edit'}"
          class="btn-lg btn-warning action-btn">
          ✏️ Edit
        </a>

        <a th:href="@{'/post/' + ${post.id} + '/delete'}"
          class="btn-lg btn-danger action-btn"
          onclick="return confirm('Are you sure you want to delete this post?');">
          🗑 Delete
        </a>

      </div>

    </div>
  </section>

  <!-- end about section -->

  <!-- footer section -->
  <div th:replace="~{fragments/footer :: footer}"></div>
  <!-- footer section -->

</body>

</html>